<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="javascripts/common.js"></script>
	<script src="javascripts/historygen.js"></script>
  </head>
  <body>
	<div class="main-wrapper">
		
	</div><!-- main wrapper -->
	<div style="width: 100%; overflow: hidden;">
		<div style="width: 600px; float: left;">
			<canvas id="world" width="528" height="528" style="border: 1px solid black;"></canvas>
		 </div>
		<div style="margin-left: 620px;"> 
            <div>Selected Tile Info:<br></div>
            <div id="_tilecoords">X: 0 Y: 0</div>
            <div id="_tilefood">Food: 0</div>
            <div id="_tileprot">Protection: 0</div>
            <div id="_factioninfo"></div>
		</div>
	</div>
  </body>
</html>
