<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<p>Select local CSV File:</p>
	<input id="csv" type="file">
	
	<div id="container"><br /><br /><br /><br /><br />Generating world...</div>
	<script src="three/build/three.min.js"></script>

	<script src="three/examples/js/controls/FirstPersonControls.js"></script>

	<script src="three/examples/js/ImprovedNoise.js"></script>
	<script src="three/examples/js/Detector.js"></script>
	<script src="three/examples/js/libs/stats.min.js"></script>
	<script src="javascripts/terrain.js"></script>
	
  </body>
</html>
