<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<p>Select local CSV File:</p>
	<input id="csv" type="file">
	
	<script src="three/build/three.min.js"></script>
	<script src="javascripts/OrbitControls.js"></script>
	<script src="javascripts/visualizer.js"></script>
	
	
  </body>
</html>
